
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    padding: 10px 32px;

    border: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    color: var(--tertiary-color);
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {
    display: inline-block;

    padding: 6px 22px;

    border-color: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--primary-color);
    background-color: #F5F4FA;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button,
.filter__button {
    cursor: pointer;
}

.button:hover,
.button:focus,
.filter__button:hover,
.filter__button:focus {
    color: var(--tertiary-color);
    background-color: var(--accent-color);
}

.filter__button:hover,
.filter__button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: transparent;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}

.filter {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}

.logo__accent {
    color: #000000;
}

.logo__footer {
    margin-right: 0;
    padding: 0;
}

.logo__inverce {
    color: var(--tertiary-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation__link {
    position: relative;
    
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
}

.navigation__link::after {
    content: "";

    display: block;
    position: absolute;
    
    width: 100%;
    height: 4px;
    
    left: 0;
    bottom: 0;
    
    background-color: var(--accent-color);
    
    border-radius: 2px;
    
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.navigation__link:hover::after,
.navigation__link:focus::after {
    transform: scale(1);
}

.navigation__link.current {
    color: var(--accent-color);
}

.navigation__link.current::after {
    transform: scale(1);
}

.contact {
    display: flex;
    align-items: center;
    
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact__item:not(:last-child) {
    margin-right: 50px;
    margin-left: auto;
}

.contact__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.contact__icon {
    margin-right: 10px;
    
    fill: currentColor;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    max-width: 1600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;
}

.hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    
    color: var(--tertiary-color);
}

.principle__list {
    display: flex;
}

.principle__item {
    width: 270px;
}

.principle__item:not(:last-child) {
    margin-right: 30px;
}

.principle__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;

    background-color: #F5F4FA;
}

.principle__title {
    
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-color);
}

.principle__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.works {
    padding-top: 0;
}

.works__title,
.clients__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.works__list {
    display: flex;
}

.works__item:not(:last-child) {
    margin-right: 30px;
}

.works__container {
    position: relative;
}

.works__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-color);
    background-color: rgba(47, 48, 58, 0.8);
}


.team {
    background-color: #F5F4FA;
}

.team__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.team__list {
    display: flex;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    border-radius: 0px 0px 4px 4px;

    background-color: var(--tertiary-color);
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.team__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network__item:not(:last-child) {
    margin-right: 10px;
}

.social-network__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    fill: #AFB1B8;
}

.social-network__link--colorChange {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-network__link:hover,
.social-network__link:focus {
    fill: var(--tertiary-color);
    background-color: var(--accent-color);
}

.clients__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.clients__list {
    display: flex;
    justify-content: space-between;
}

.clients__item {
    width: 170px;
    height: 92px;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);

    border: 1px solid var(--accent-color)
}

.clients__icon {
    fill: currentColor;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
    transform: translate(0);
    opacity: 1;
}

.portfolio__overlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
    font-size: 18px;
    padding: 63px 24px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--tertiary-color);
}

.portfolio__container {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio__title {
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-color);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.page-footer__container {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
}

.address {
    margin-top: 20px;
    
    font-style: normal;
    font-weight: 400;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__map {
    color: var(--tertiary-color);
}

.address__map,
.address__link {
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover,
.address__map:focus,
.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
}

.join {
    margin-left: 70px;
}

.join__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-color)
}

.join__icon {
    fill: var(--tertiary-color);
}

.subscribe {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
}

.subscribe__field {
    margin-right: 12px;
}

.subscribe__input {
    display: block;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

.subscribe__title {   
    display: block;
    
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-color);
}

.subscribe__icon {
    margin-left: 10px;
}

.backdrop {
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.85);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;

    top: 50%;
    left: 50%;
    width: 528px;
    
    background-color: var(--tertiary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    width: 100%;
}

.modal__title {
    display: block;

    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.modal__input {
    
    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: none;
}


.modal__input:focus ~ .modal__icon {
    fill: var(--accent-color);
}

.modal__icon {
    position: absolute;

    display: block;

    top: 50%;
    left: 14px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__lable {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.modal__textarea-field {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 20px;
}

.modal__textarea {
    resize: none;
    
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus {
    border: 1px solid var(--accent-color);
}

.modal__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__textarea-title {
    display: block;

    margin-top: 0;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.modal__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.modal__checkbox-lable {
    display: flex;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.modal__checkbox-icon {
    display: flex;
    align-items: center;

    margin-right: 7px;
}

.modal__icon-check {

    fill: currentColor;

    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.modal__checkbox-input:checked + label .modal__icon-check {

    background-color: var(--accent-color);
    border: transparent;
}

.modal__checkbox-input:focus + label .modal__icon-check {
    outline: transparent;
}