.hero {
    max-width: 1600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;
}

.hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: var(--tertiary-color);
}