.works {
    padding-top: 0;
}

.works__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color);
}

.works__list {
    display: flex;
}

.works__item:not(:last-child) {
    margin-right: 30px;
}

.works__container {
    position: relative;
}

.works__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-color);
    background-color: rgba(47, 48, 58, 0.8);
}