.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
        
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
        
    color: var(--primary-color);

}

.section--nopadding-top {
    padding-top: 0;
}

.section--user-background {
    background-color: #F5F4FA;
}